body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }

.navbar {
  background-color: #385170;
  padding: 12px 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  font-family: 'Trebuchet MS', sans-serif;
}

.nav-link:hover {
  color: #a2c3d2;
}
